
.users__pagination {
    list-style: none;
    .users__pagination__item {
        margin-right: 0.5rem;
        display: inline;
        cursor: pointer;
    }
}


.selected {
    font-weight: 800;
    color: red;
    font-size: large;
}

.users__profiles {
    transform: translateX(10rem);
    transform: translateY(10rem);
}