

.form-control {
  
      .error {
        border: 2px solid red;
    }
    .form-control__wrap-error {
        display: inline-block;
        span {
            border-radius: 10%;
            background-color: red;
            color: white;
            padding: 0.7rem;
            
        }
    }
   
    
}

.allerror {
    display: inline-block;
    .allerror__text {
        border-radius: 10%;
        border: 1px solid rgb(255, 0, 0);
        color: red;
        padding: 0.7rem;
        
    }
}